{% extends "includes/base(Website).html" %}
{% block title %}Update Customer{% endblock %}

{% block content %}
  {% from "includes/_formHelper.html" import render_field %}

  <h1 class="display-4">Edit Profile</h1>

  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.first_name, class="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.last_name, class="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.email, class="form-control", readonly="readonly") }}
    </div>

    <div class="form-group">
      {{ render_field(form.phone_number, class="form-control") }}
    </div>

    <div class="form-group">
      <!-- Hide the password field -->
      <label>Password</label>
      <input type="password" class="form-control" name="password" value="********" readonly="readonly">
    </div>

    <div class="form-group">
      {{ render_field(form.gender, class="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.age, class="form-control") }}
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
{% endblock %}